{% extends "!footer.html" %}
{% block extrafooter %}
    {{ super() }}
    <div class="footer-extra-content">
        <a href="https://www.saintic.com" target="_blank">主站</a>
        <a href="https://blog.saintic.com" target="_blank">我的博客</a>
        <a href="https://open.saintic.com" target="_blank">诏预开放平台</a>
        <a href="https://status.saintic.com/" target="_blank">服务状态</a>
        <div id="footer-extra-sentence" style="float: right;clear: both;"></div>
    </div>
    <a class="back2top" style="display:none;"></a>
{% endblock %}