@charset "utf-8";

.wy-nav-content {
    max-width: 100% !important;
}

.ethical-rtd.ethical-dark-theme {
    display: none;
}

.footer-extra-content {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
}

/*返回顶部*/
.back2top {
    z-index: 99;
    background: gray;
    width: 36px;
    height: 36px;
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    border-radius: 2px;
    opacity: .6;
}

.back2top:before {
    content: "";
    position: absolute;
    right: 8px;
    top: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
}
.utterances {
    margin-left: 0;
}

.my-logo a:hover {
    text-decoration: none;
    border-bottom: 0px;
}
.t-content > footer a {
    text-decoration: none;
}